/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ClaimEvidenceRecord
import io.swagger.client.model.ClaimRegistration410
import io.swagger.client.model.ClaimRegistrationRecord
import io.swagger.client.model.ClaimRegistrationSearchResults
import io.swagger.client.model.ErrorDescription
import java.io.File
import io.swagger.client.model.NewClaimRegistrationRecord
import io.swagger.client.model.PotentialEvidenceSearchResults
import io.swagger.client.model.SubmitClaimRegistrationRecord
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ClaimRegistrationsApi {

  /**
   *  ### Overview   Search for evidence documents supplied against a Claim Registration.  ****   **UC Mapping:**  ____ ### Pre-conditions * User is authenticated * Claim Registration record is current ____ ### Post-conditions * User authorisation is checked * Search result is returned ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Not authenticated | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **5XX** | System error  | System error |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **201: Evidence record** | Evidence record | 
   * 
   * Expected answers:
   *   code 200 : ClaimEvidenceRecord (The document.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The combination of search enquiry parameters is invalid.)
   *   code 401 :  (The requester is not authenticated.)
   *   code 403 :  (The requester is not authorised for this operation.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param documentId * The unique identifier for the evidence document. 
   * @param claimNumber * The unique identifier for the claim. 
   */
  def claimEvidenceDocument(documentId: String, claimNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimEvidenceRecord] =
    ApiRequest[ClaimEvidenceRecord](ApiMethods.GET, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claims/{claim-number}/claim-registrations/evidence/{document-id}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("document-id", documentId)
      .withPathParam("claim-number", claimNumber)
      .withSuccessResponse[ClaimEvidenceRecord](200)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](403)
      .withErrorResponse[ErrorDescription](500)
      
  object ClaimEvidenceDocumentHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Allows a creditor to remove a linked estate.  ****   **UC Mapping:**    ____ ### Pre-conditions * User is authenticated * Claim Registration is current / selected  * Claim Registration is linked to specified estate ____ ### Post-conditions * Authorisation checked * Claim applicaiton resource updated (specified estate is no longer linked)   ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **409** | Conflict  | Claim must have at least 1 associated estate |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Claim Registration** | Active Claim Registration not yet submitted |   **** &lt;br /&gt;        **Case 1**       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claimapplicaitons\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/submit\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.submit\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/delink-estate\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.delink-estate\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            ]     
   * 
   * Expected answers:
   *   code 201 : ClaimRegistrationRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimRegistrationNumber * The unique identifier for the Claim Registration. 
   * @param estateNumber * The estate to be delinked. 
   */
  def claimRegistrationDelinkEstate(claimRegistrationNumber: String, estateNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-registration-number}/delink-estate/{estate-number}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-registration-number", claimRegistrationNumber)
      .withPathParam("estate-number", estateNumber)
      .withSuccessResponse[ClaimRegistrationRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object ClaimRegistrationDelinkEstateHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *  ### Overview   Search for evidence documents supplied against a Claim Registration.  ****   **UC Mapping:**  ____ ### Pre-conditions * User is authenticated * Claim Registration record is current ____ ### Post-conditions * User authorisation is checked * Search result is returned ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Not authenticated | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **5XX** | System error  | System error |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **201: Search result** | Search results | 
   * 
   * Expected answers:
   *   code 200 : ClaimEvidenceRecord (The claim search results.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The combination of search enquiry parameters is invalid.)
   *   code 401 :  (The requester is not authenticated.)
   *   code 403 :  (The requester is not authorised for this operation.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param documentId * The unique identifier for the evidence document. 
   * @param claimAppNumber * The unique identifier for the Claim Registration. 
   */
  def claimRegistrationEvidenceDocument(documentId: String, claimAppNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimEvidenceRecord] =
    ApiRequest[ClaimEvidenceRecord](ApiMethods.GET, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-app-number}/evidences/{document-id}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("document-id", documentId)
      .withPathParam("claim-app-number", claimAppNumber)
      .withSuccessResponse[ClaimEvidenceRecord](200)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](403)
      .withErrorResponse[ErrorDescription](500)
      
  object ClaimRegistrationEvidenceDocumentHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *  ### Overview   Search for evidence documents supplied against a Claim Registration.  ****   **UC Mapping:**  ____ ### Pre-conditions * User is authenticated ____ ### Post-conditions * User authorisation is checked * Search result is returned ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Not authenticated | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **5XX** | System error  | System error |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **201: Search result** | Search results | 
   * 
   * Expected answers:
   *   code 200 : PotentialEvidenceSearchResults (The claim search results.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The combination of search enquiry parameters is invalid.)
   *   code 401 :  (The requester is not authenticated.)
   *   code 403 :  (The requester is not authorised for this operation.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimAppNumber * The unique identifier for the contact. 
   */
  def claimRegistrationEvidences1(claimAppNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[PotentialEvidenceSearchResults] =
    ApiRequest[PotentialEvidenceSearchResults](ApiMethods.GET, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-app-number}/evidences", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-app-number", claimAppNumber)
      .withSuccessResponse[PotentialEvidenceSearchResults](200)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](403)
      .withErrorResponse[ErrorDescription](500)
      
  object ClaimRegistrationEvidences1Headers { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Allows a creditor to add a linked estate.  ****   **UC Mapping:**    ____ ### Pre-conditions * User is authenticated * Claim Registration is current / selected  * Claim Registration is linked to specified estate ____ ### Post-conditions * Authorisation checked * Claim applicaiton resource updated (specified estate is no longer linked)   ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **409** | Conflict  | Claim must have at least 1 associated estate |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Claim Registration** | Active Claim Registration not yet submitted |   **** &lt;br /&gt;        **Case 1**       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claimapplicaitons\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/submit\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.submit\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-estate\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.link-estate\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/delink-estate\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.delink-estate\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            ]     
   * 
   * Expected answers:
   *   code 201 : ClaimRegistrationRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimRegistrationNumber * The unique identifier for the Claim Registration. 
   * @param estateNumber * The estate to be delinked. 
   */
  def claimRegistrationLinkEstate(claimRegistrationNumber: String, estateNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-registration-number}/link-estate/{estate-number}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-registration-number", claimRegistrationNumber)
      .withPathParam("estate-number", estateNumber)
      .withSuccessResponse[ClaimRegistrationRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object ClaimRegistrationLinkEstateHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Allows a creditor to remove a previously uploaded file from the application.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * Claim is current / selected  ____ ### Post-conditions * Authorisation checked * Claim resource updated * Audit record created  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Claim Registration** | Active Claim Registration not yet submitted |   **** &lt;br /&gt;        **Case 1**       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claimapplicaitons\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/submit\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.submit\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            ]     
   * 
   * Expected answers:
   *   code 201 : ClaimRegistrationRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimRegistrationNumber * The unique identifier for the Claim Registration. 
   * @param fileId * The file to be removed. 
   */
  def claimRegistrationRemoveEvidence(claimRegistrationNumber: String, fileId: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-registration-number}/remove-evidence/{file-id}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-registration-number", claimRegistrationNumber)
      .withPathParam("file-id", fileId)
      .withSuccessResponse[ClaimRegistrationRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object ClaimRegistrationRemoveEvidenceHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   * ### Overview  **UC Mapping:**  **UC Mapping:** View Claim Registration  * Primarily external focussed * Could allow internal admins to view if needed, but current application does not allow this.   **Description:** Gets a pre-existing claims application. Once either submitted or withdrawn  the Claim Registration ceases to be either viewable or editable as a distinct resource - all processing and state management transfers to the Claim object. Post submission, the concept of the Claim Registration exists only to group claims together.  ____ ### Pre-conditions * User is authenticated ____ ### Post-conditions * Security permissions are checked * Claim Registration detail record is returned / error is returned * Audit record is created in auditDB (do we need to audit this?)  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to view | | **404** | Not found  | Claim Registration not found  / not authorised to view (we don&#39;t want a 403 for this one)| | **410** | Gone  | Claim Registration has ascended to a higher state of being, and is now managed as a claim| | **5xx** | Server Error  | Internal / network errors|  ### HTTP codes + HATEOAS links | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Unsubmitted Claim Registration** | A claim that is not yet part of the estate| | **2** | **200: Withdrawn Claim Registration** | Previously withdrawn Claim Registration| | **3** | **410: All other statuses** | ALL other statuses MUST result in a 410 E.g. vetted, suspended, errored only exist against the claim level and NOT at the Claim Registration level |  &lt;br /&gt; ****  **Case 1** - 200: Unsubmitted Claim Registration       {      \&quot;links\&quot;: [            ## ----------------- Navigation links -----------------            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/126090\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations,\&quot;,        \&quot;rel\&quot;: \&quot;claimapplications.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/126090/folios\&quot;,        \&quot;rel\&quot;: \&quot;claimapplications.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/126090/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claimapplications.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/126090/withdraw\&quot;,        \&quot;rel\&quot;: \&quot;claimapplications.withdraw\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/126090/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claimapplications.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            ]        &lt;br /&gt;     **Case 2** - 200: Withdrawn Claim Registration       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations\&quot;,        \&quot;rel\&quot;: \&quot;claimapplications.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/126090/folios\&quot;,        \&quot;rel\&quot;: \&quot;claimapplications.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      }            ] 
   * 
   * Expected answers:
   *   code 200 : ClaimRegistrationRecord (The initial representation of a claim as the debtor understands it.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (Bad request.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 410 : ClaimRegistration410 (Resource gone.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimRegistrationNumber * The unique identifier for the Claim Registration. 
   */
  def claimRegistrations(claimRegistrationNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.GET, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-registration-number}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-registration-number", claimRegistrationNumber)
      .withSuccessResponse[ClaimRegistrationRecord](200)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ClaimRegistration410](410)
      .withErrorResponse[ErrorDescription](500)
      
  object ClaimRegistrationsHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Allows a creditor to submit a maintain / modify the details of a claim.  ****   **UC Mapping:** Update Claim Registration   ____ ### Pre-conditions * User is authenticated * Claim is current / selected  ____ ### Post-conditions * Authorisation checked * Claim resource updated * Audit record created  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Claim Registration** | Active Claim Registration not yet submitted |   **** &lt;br /&gt;        **Case 1**       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claimapplicaitons\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/submit\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.submit\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            ] 
   * 
   * Expected answers:
   *   code 201 : ClaimRegistrationRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param upFile The file to upload.
   * @param claimRegistrationNumber * The unique identifier for the Claim Registration. 
   */
  def claimSupplyEvidence(upFile: File, claimRegistrationNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-registration-number}/supply-evidence", "multipart/form-data")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withFormParam("upFile", upFile)
      .withPathParam("claim-registration-number", claimRegistrationNumber)
      .withSuccessResponse[ClaimRegistrationRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object ClaimSupplyEvidenceHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *  ### Overview   Search for Claim Registrations related to the current user.  ****   **UC Mapping:** Search Claim Registrations   ____ ### Pre-conditions * User is authenticated ____ ### Post-conditions * User authorisation is checked * Search result is returned ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Not authenticated | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **5XX** | System error  | System error |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **201: Search result** | Search results | 
   * 
   * Expected answers:
   *   code 200 : ClaimRegistrationSearchResults (The search result)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The combination of search enquiry parameters is invalid.)
   *   code 401 :  (The requester is not authenticated.)
   *   code 403 :  (The requester is not authorised for this operation.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param contactId * The unique identifier for the contact. 
   * @param claimType The type of the claim. Mapping as follows  | Enum | Claim-type | |----|-----| | Bankrupt | NA - won&#39;t appear | | Chattel Security | Secured  | | Contributory | NA - won&#39;t appear | | Debenture interest | Secured  | | Deferred debt creditor | Secured  | | Fixed debenture holder | Secured  | | Floating debenture holder | Secured  | | Instrument by way of security | Secured  | | Mortgage | Secured  | | Official Assignee basic income | NA - won&#39;t appear | | Other creditor with/without POD | Unsecured  | | Petitioning creditor\\&#39;s costs | Application costs | | Preferential unsecured creditor | Preferrential | | Security Interest | Secured  | | Supporting Creditor Costs|  Application costs | | Unsecured creditor with POD | Unsecured  | 
   * @param estateType The type of the claim
   * @param fromDate The date from which to search e.g 04-Dec-2017
   * @param toDate The date to which to search e.g. 07-Dec-2017
   * @param creditorReference The creditors reference identifier.
   * @param estateNumber The estate that the claim belongs to.
   * @param claimStatus The state of the insolvency procedure, leave blank for all
   * @param page The page in the collection to return. Default is page 1.
   * @param pageSize The requested number of items to include in each page returned. Default is 20. 
   * @param sortOrder The order to sort the collection in. Can be &#39;asc&#39; or &#39;desc&#39;.
   * @param sortBy The property to sort the collection by.
   */
  def contactSearchClaimRegistrations(contactId: String, claimType: Option[String] = None, estateType: Option[String] = None, fromDate: Option[String] = None, toDate: Option[String] = None, creditorReference: Option[String] = None, estateNumber: Option[String] = None, claimStatus: Option[String] = None, page: Option[Int], pageSize: Option[Int], sortOrder: Option[String], sortBy: Option[String])(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationSearchResults] =
    ApiRequest[ClaimRegistrationSearchResults](ApiMethods.GET, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/contacts/{contact-id}/claim-registrations/search", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withQueryParam("claim-type", claimType)
      .withQueryParam("estate-type", estateType)
      .withQueryParam("from-date", fromDate)
      .withQueryParam("to-date", toDate)
      .withQueryParam("creditor-reference", creditorReference)
      .withQueryParam("estate-number", estateNumber)
      .withQueryParam("claim-status", claimStatus)
      .withQueryParam("page", page)
      .withQueryParam("page-size", pageSize)
      .withQueryParam("sort-order", sortOrder)
      .withQueryParam("sort-by", sortBy)
      .withPathParam("contact-id", contactId)
      .withSuccessResponse[ClaimRegistrationSearchResults](200)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](403)
      .withErrorResponse[ErrorDescription](500)
      
  object ContactSearchClaimRegistrationsHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Allows a creditor to submit a maintain / modify the details of a claim.  ****   **UC Mapping:** Update Claim Registration   ____ ### Pre-conditions * User is authenticated * Claim is current / selected  ____ ### Post-conditions * Authorisation checked * Claim resource updated * Audit record created  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Claim Registration** | Active Claim Registration not yet submitted |   **** &lt;br /&gt;        **Case 1**       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claimapplicaitons\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/submit\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.submit\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            ]     
   * 
   * Expected answers:
   *   code 201 : ClaimRegistrationRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimRegistrationNumber * The unique identifier for the Claim Registration. 
   * @param claimRegistration * The unique identifier for the Claim Registration. 
   */
  def modifyClaimRegistration(claimRegistrationNumber: String, claimRegistration: ClaimRegistrationRecord)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-registration-number}/save", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(claimRegistration)
      .withPathParam("claim-registration-number", claimRegistrationNumber)
      .withSuccessResponse[ClaimRegistrationRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object ModifyClaimRegistrationHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Creates a shell registration so that this can be saved sever-side.   Following stright on with a /submit would be expected to fail as basically none of the mandatory fields in the ClaimRegistrationModel would be populated let alone business rules met.  Provided only so that progress claim-reigistrations can be saved.   ____ ### Pre-conditions * User is authenticated  ____ ### Post-conditions * claim-registration record is created with status of \&quot;incomplete\&quot; * claim-registration-id is returned ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: New record** | new |   **** &lt;br /&gt;        **Case 1**      
   * 
   * Expected answers:
   *   code 201 : NewClaimRegistrationRecord (The search results for the given provider search parameters.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param estateNumber * The unique identifier for the insolvency porcedure. 
   */
  def newClaimRegistration(estateNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[NewClaimRegistrationRecord] =
    ApiRequest[NewClaimRegistrationRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/new", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withQueryParam("estate-number", estateNumber)
      .withSuccessResponse[NewClaimRegistrationRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object NewClaimRegistrationHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Cancels an (unsubmitted) ClaimRegistration. Does not pre-suppose that Claim Registrations can/will be saved - it is a way of aborting a workflow regardless of whether usubmitted Claim Registrations are saved.   **** May only be done by the **submitting creditor**.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * User is authorised to manage the Claim Registration * ClaimRegistration is current / selected  * ClaimRegistration is no yet submitted ____ ### Post-conditions * claim is aborted any saved information is deleted. * no audit required (included here to avoid doubt)  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Canlelled claim** | Claim cancelled / resource removed |   **** &lt;br /&gt;        **Case 1**       \&quot;links\&quot;:       [        {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claimapplicaitons\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      }      ]     
   * 
   * Expected answers:
   *   code 201 : ClaimRegistrationRecord (The search results for the given provider search parameters.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimRegistrationNumber * The unique identifier for the Claim Registration. 
   */
  def submitApplication(claimRegistrationNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-registration-number}/cancel", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-registration-number", claimRegistrationNumber)
      .withSuccessResponse[ClaimRegistrationRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object SubmitApplicationHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Allows a creditor to submit a ClaimRegistration for processing.   **UC Mapping:** Submit Claim Registration  ____ ### Pre-conditions * User is authenticated * ClaimRegistration is current / selected  * ClaimRegistration is complete ____ ### Post-conditions * n x PotentialClaim resources are created / or appropriate error is given(Claim Registration is 1:n PotentialClaims)   ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Admitted claim** | Active claim |   **** &lt;br /&gt;        **Case 1**       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claimapplicaitons\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/vet\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.vet\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claim-registrations/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claimapplication.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            ]     
   * 
   * Expected answers:
   *   code 201 : ClaimRegistrationRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimRegistrationNumber * The unique identifier for the Claim Registration. 
   * @param claimRegistration * The unique identifier for the Claim Registration. 
   */
  def submitClaimRegistration(claimRegistrationNumber: String, claimRegistration: SubmitClaimRegistrationRecord)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claim-registrations/{claim-registration-number}/submit", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(claimRegistration)
      .withPathParam("claim-registration-number", claimRegistrationNumber)
      .withSuccessResponse[ClaimRegistrationRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object SubmitClaimRegistrationHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }


}

