/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ClaimRegistrationRecord
import io.swagger.client.model.CreditorClaimRecord
import io.swagger.client.model.CreditorClaimSearchResults
import io.swagger.client.model.ErrorDescription
import java.io.File
import io.swagger.client.model.FolioSearchResults
import io.swagger.client.model.MaintainCreditorClaimRecord
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object CreditorClaimsApi {

  /**
   *  ### Overview   Searches the insolvency register for claims  - creditor view. Will search for and return only those claims directly associated with the creditor  ****   **UC Mapping:** Search Claims   ____ ### Pre-conditions * User is authenticated ____ ### Post-conditions * User authorisation is checked * Search result is returned ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Not authenticated | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **5XX** | System error  | System error |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **201: Search result** | Search results | 
   * 
   * Expected answers:
   *   code 200 : CreditorClaimSearchResults (The claim search results.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The combination of search enquiry parameters is invalid.)
   *   code 401 :  (The requester is not authenticated.)
   *   code 403 :  (The requester is not authorised for this operation.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param contactId * The unique identifier for the contact. 
   * @param estateName A.k.a. debtor name - search on the name of the insolvent party.
   * @param claimValueFrom Min value &gt;&#x3D;
   * @param claimValueTo Max value &lt;&#x3D;
   * @param onlyMyClaims Boolean for use with organisations (key creditors) - applies search criteria to show only those claims made by the logged in user.
   * @param claimType The type of the claim. Mapping as follows  | Enum | Claim-type | |----|-----| | Bankrupt | NA - won&#39;t appear | | Chattel Security | Secured  | | Contributory | NA - won&#39;t appear | | Debenture interest | Secured  | | Deferred debt creditor | Secured  | | Fixed debenture holder | Secured  | | Floating debenture holder | Secured  | | Instrument by way of security | Secured  | | Mortgage | Secured  | | Official Assignee basic income | NA - won&#39;t appear | | Other creditor with/without POD | Unsecured  | | Petitioning creditor\\&#39;s costs | Application costs | | Preferential unsecured creditor | Preferrential | | Security Interest | Secured  | | Supporting Creditor Costs|  Application costs | | Unsecured creditor with POD | Unsecured  | 
   * @param estateType The type of the claim
   * @param fromDate The date from which to search e.g 04-Dec-2017
   * @param toDate The date to which to search e.g. 07-Dec-2017
   * @param creditorReference The creditors reference identifier.
   * @param estateNumber The estate that the claim belongs to.
   * @param claimStatus The state of the insolvency procedure, leave blank for all
   * @param page The page in the collection to return. Default is page 1.
   * @param pageSize The requested number of items to include in each page returned. Default is 20. 
   * @param sortOrder The order to sort the collection in. Can be &#39;asc&#39; or &#39;desc&#39;.
   * @param sortBy The property to sort the collection by.
   */
  def contactCreditorClaimsSearch(contactId: String, estateName: Option[String] = None, claimValueFrom: Option[Double] = None, claimValueTo: Option[Double] = None, onlyMyClaims: Option[Boolean] = None, claimType: Option[String] = None, estateType: Option[String] = None, fromDate: Option[String] = None, toDate: Option[String] = None, creditorReference: Option[String] = None, estateNumber: Option[String] = None, claimStatus: Option[String] = None, page: Option[Int], pageSize: Option[Int], sortOrder: Option[String], sortBy: Option[String])(implicit apiKey: ApiKeyValue): ApiRequest[CreditorClaimSearchResults] =
    ApiRequest[CreditorClaimSearchResults](ApiMethods.GET, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/contacts/{contact-id}/creditor-claims/search", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withQueryParam("estate-name", estateName)
      .withQueryParam("claim-value-from", claimValueFrom)
      .withQueryParam("claim-value-to", claimValueTo)
      .withQueryParam("only-my-claims", onlyMyClaims)
      .withQueryParam("claim-type", claimType)
      .withQueryParam("estate-type", estateType)
      .withQueryParam("from-date", fromDate)
      .withQueryParam("to-date", toDate)
      .withQueryParam("creditor-reference", creditorReference)
      .withQueryParam("estate-number", estateNumber)
      .withQueryParam("claim-status", claimStatus)
      .withQueryParam("page", page)
      .withQueryParam("page-size", pageSize)
      .withQueryParam("sort-order", sortOrder)
      .withQueryParam("sort-by", sortBy)
      .withPathParam("contact-id", contactId)
      .withSuccessResponse[CreditorClaimSearchResults](200)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](403)
      .withErrorResponse[ErrorDescription](500)
      
  object ContactCreditorClaimsSearchHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *  ### Overview   Gets a search result of evidence documents supplied against a claim  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated ____ ### Post-conditions * User authorisation is checked * Search result is returned ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Not authenticated | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **5XX** | System error  | System error |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **201: Search result** | Search results | 
   * 
   * Expected answers:
   *   code 200 : FolioSearchResults (The claim search results.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The combination of search enquiry parameters is invalid.)
   *   code 401 :  (The requester is not authenticated.)
   *   code 403 :  (The requester is not authorised for this operation.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimId * The unique identifier for the claim. 
   * @param evidenceType * The unique identifier for the claim. 
   */
  def creditorClaimEvidences(claimId: String, evidenceType: String)(implicit apiKey: ApiKeyValue): ApiRequest[FolioSearchResults] =
    ApiRequest[FolioSearchResults](ApiMethods.GET, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/creditor-claims/{claim-id}/evidences", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withQueryParam("evidence-type", evidenceType)
      .withPathParam("claim-id", claimId)
      .withSuccessResponse[FolioSearchResults](200)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](403)
      .withErrorResponse[ErrorDescription](500)
      
  object CreditorClaimEvidencesHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Modifies a claim record. Reduced permissions / actions available to creditors as opposed to ITS staff.   ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * Claim is current / selected  * Claim is complete ____ ### Post-conditions * Claim resource is modified.  * Audit record is created  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Claim modified** | Modified Claim Registration |   **** &lt;br /&gt;        **Case 1** - Claim Modified       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/withdraw\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.withdraw\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.unlink-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }      ]     
   * 
   * Expected answers:
   *   code 201 : CreditorClaimRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimNumber * The unique identifier for the Claim Registration. 
   * @param fileId 
   */
  def creditorClaimRemoveEvidence(claimNumber: String, fileId: String)(implicit apiKey: ApiKeyValue): ApiRequest[CreditorClaimRecord] =
    ApiRequest[CreditorClaimRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/creditor-claims/{claim-number}/remove-evidence/{file-id}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-number", claimNumber)
      .withPathParam("file-id", fileId)
      .withSuccessResponse[CreditorClaimRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object CreditorClaimRemoveEvidenceHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Adds a file as evidence against the claim.   **** May  be done by an **insolvency officer** or the system actor as an automated action.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * User is authrosied to administer the claim * Folio resource is current / selected   ____ ### Post-conditions * File is uploaded * File is linked to application  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Folio not found |   ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: OK ** | File uploaded |   **** &lt;br /&gt;        **Case 1**       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaims.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaims.supply-evidence\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/remove-evidence\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaims.remove-evidence\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      }            ]           
   * 
   * Expected answers:
   *   code 201 : ClaimRegistrationRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param upFile The file to upload.
   * @param claimAppNumber The claim that the folio will be associated with
   * @param claimRegistrationType The claim that the folio will be associated with
   */
  def creditorClaimSupplyEvidence(upFile: File, claimAppNumber: String, claimRegistrationType: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/creditor-claims/{claim-app-number}/supply-evidence", "multipart/form-data")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withFormParam("upFile", upFile)
      .withFormParam("claim-registration-type", claimRegistrationType)
      .withPathParam("claim-app-number", claimAppNumber)
      .withSuccessResponse[ClaimRegistrationRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object CreditorClaimSupplyEvidenceHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *  ### Overview   Gets the originating Claim Registration detain that was used to create the claim record.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * Cliam context is provided ____ ### Post-conditions * User authorisation is checked * Search result is returned ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Not authenticated | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **5XX** | System error  | System error |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **201: Search result** | Search results | 
   * 
   * Expected answers:
   *   code 200 : ClaimRegistrationRecord (The claim search results.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The combination of search enquiry parameters is invalid.)
   *   code 401 :  (The requester is not authenticated.)
   *   code 403 :  (The requester is not authorised for this operation.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimId * The unique identifier for the claim. 
   */
  def creditorclaimRegistration(claimId: String)(implicit apiKey: ApiKeyValue): ApiRequest[ClaimRegistrationRecord] =
    ApiRequest[ClaimRegistrationRecord](ApiMethods.GET, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/creditor-claims/{claim-id}/claim-registration", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-id", claimId)
      .withSuccessResponse[ClaimRegistrationRecord](200)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](403)
      .withErrorResponse[ErrorDescription](500)
      
  object CreditorclaimRegistrationHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Retrieves a claim record. Reduced permissions / actions available to creditors as opposed to ITS staff.   ****   **UC Mapping:**   **UI Mapping:**   ____ ### Pre-conditions * User is authenticated ____ ### Post-conditions * Claim resource is modified.  * Audit record is created  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Claim modified** | Claim Registration |   **** &lt;br /&gt;        **Case 1** - Claim Retrieved       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/withdraw\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.withdraw\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.unlink-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }      ]     
   * 
   * Expected answers:
   *   code 201 : CreditorClaimRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimNumber * The unique identifier for the Claim Registration. 
   */
  def getCreditorClaim(claimNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[CreditorClaimRecord] =
    ApiRequest[CreditorClaimRecord](ApiMethods.GET, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/creditor-claims/{claim-number}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-number", claimNumber)
      .withSuccessResponse[CreditorClaimRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object GetCreditorClaimHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Links claim to another estate.   ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * Claim is current / selected  * Claim is complete ____ ### Post-conditions * Claim resource is modified.  * Audit record is created  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Claim modified** | Modified Claim Registration |   **** &lt;br /&gt;        **Case 1** - Claim Modified       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/withdraw\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.withdraw\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.unlink-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }      ]     
   * 
   * Expected answers:
   *   code 201 : CreditorClaimRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimNumber * The unique identifier for the Claim Registration. 
   * @param claimRegistration * The unique identifier for the Claim Registration. 
   */
  def linkCreditorClaim(claimNumber: String, claimRegistration: CreditorClaimRecord)(implicit apiKey: ApiKeyValue): ApiRequest[CreditorClaimRecord] =
    ApiRequest[CreditorClaimRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/creditor-claims/{claim-number}/link-estate", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(claimRegistration)
      .withPathParam("claim-number", claimNumber)
      .withSuccessResponse[CreditorClaimRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object LinkCreditorClaimHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Modifies a claim record. Reduced permissions / actions available to creditors as opposed to ITS staff.   ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * Claim is current / selected  * Claim is complete ____ ### Post-conditions * Claim resource is modified.  * Audit record is created  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Claim modified** | Modified Claim Registration |   **** &lt;br /&gt;        **Case 1** - Claim Modified       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/withdraw\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.withdraw\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.unlink-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }      ]     
   * 
   * Expected answers:
   *   code 201 : CreditorClaimRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimNumber * The unique identifier for the Claim Registration. 
   * @param claimRecord * The unique identifier for the Claim Registration. 
   */
  def submitCreditorClaim(claimNumber: String, claimRecord: MaintainCreditorClaimRecord)(implicit apiKey: ApiKeyValue): ApiRequest[CreditorClaimRecord] =
    ApiRequest[CreditorClaimRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/creditor-claims/{claim-number}/maintain", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(claimRecord)
      .withPathParam("claim-number", claimNumber)
      .withSuccessResponse[CreditorClaimRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object SubmitCreditorClaimHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Allows a creditor to withdraw a claim.   **** May only be done by an **creditor or agent**.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * Claim is current / selected   ____ ### Post-conditions * Claim is withdrawn * Audit record is created  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Withdrawn claim** | Withdrawn claim |   **** &lt;br /&gt;        **Case 1** - Withdrawn claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/creditorclaims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;creditorclaim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },              ]     
   * 
   * Expected answers:
   *   code 201 : CreditorClaimRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimNumber * The unique identifier for the Claim Registration. 
   * @param withdrawalReason 
   */
  def withdrawCreditorClaim(claimNumber: String, withdrawalReason: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[CreditorClaimRecord] =
    ApiRequest[CreditorClaimRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/creditor-claims/{claim-number}/withdraw", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withQueryParam("withdrawal-reason", withdrawalReason)
      .withPathParam("claim-number", claimNumber)
      .withSuccessResponse[CreditorClaimRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object WithdrawCreditorClaimHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }


}

