/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ErrorDescription
import java.io.File
import io.swagger.client.model.FileMetadataRecord
import io.swagger.client.model.FolioRecord
import io.swagger.client.model.FolioSearchResults
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object FoliosApi {

  /**
   *   ### Overview  Adds a folio - essentially a folder with extended metadata - to the estate.   **** May  be done by an **insolvency officer** or the system actor as an automated action.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * User is authrosied to administer the claim * Folio resource is current / selected   ____ ### Post-conditions * File is uploaded * File is linked to folio * Audit record is created against file * Audit record is created against folio  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Folio not found |   ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: OK ** | TBD |  &lt;br /&gt; ****  **Case 1** - 200: TBD      Not in scope of drop 1.       
   * 
   * Expected answers:
   *   code 201 : FileMetadataRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param upFile The file to upload.
   * @param claimNumber The claim that the folio will be associated with
   * @param folioNumber The claim that the folio will be associated with
   */
  def addAttachment(upFile: File, claimNumber: String, folioNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[FileMetadataRecord] =
    ApiRequest[FileMetadataRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claims/{claim-number}/folios/{folio-number}/add-attachment", "multipart/form-data")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withFormParam("upFile", upFile)
      .withPathParam("claim-number", claimNumber)
      .withPathParam("folio-number", folioNumber)
      .withSuccessResponse[FileMetadataRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object AddAttachmentHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Adds a folio - essentially a folder with extended metadata - to the claim / estate.   **** May  be done by an **insolvency officer** or the system actor as an automated action.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * User is authorised to administer the claim * Claim resource is current / selected   ____ ### Post-conditions * Folio is linked to claim * Audit record is created against claim * Audit record is created against folio  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Unvetted claim** | A claim that is not yet part of the estate| | **2** | **200: Rejected or withdrawn claim** | Previously rejected or withdrawn claim| | **3** | **200: Errored claim** | Previously errored claim| | **4** | **200: Admitted claim** | Active claim | | **5** | **200: Vetted claim** |  Active claim | | **6** | **200: Suspended claim** | Active claim | | **7** | **200: Received claim** | Active claim  |   &lt;br /&gt; ****  **Case 1* - 200: Unvetted claim       {      \&quot;links\&quot;: [            ## ----------------- Navigation links -----------------            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims,\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      }      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            ## ----------------- Other -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs/2481b952-e12e-11e7-80c1-9a214cf093ae\&quot;,        \&quot;rel\&quot;: \&quot;claim.view-audit-log-detail,\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      }            ]        &lt;br /&gt;     **Case 2** - 200: Rejected or withdrawn claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },             {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            &lt;br /&gt;     **Case 3** - 200: Errored claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }          &lt;br /&gt;     **Case 4** - 200: Admitted Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/vet\&quot;,        \&quot;rel\&quot;: \&quot;claim.vet\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claim.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claim.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }          &lt;br /&gt;     **Case 5** - 200: Vetted Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/admit\&quot;,        \&quot;rel\&quot;: \&quot;claim.admit\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claim.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claim.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }          &lt;br /&gt;     **Case 6** - 200: Suspended Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claim.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/potential\&quot;,        \&quot;rel\&quot;: \&quot;claim.potential\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/add-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.addfolio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            &lt;br /&gt;     **Case 7** - 200: Received Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/vet\&quot;,        \&quot;rel\&quot;: \&quot;claim.vet\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claim.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/4855682/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }      ]       
   * 
   * Expected answers:
   *   code 201 : FolioRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimNumber The claim that the folio will be associated with
   * @param upFile The file to upload.
   */
  def addFolio(claimNumber: String, upFile: Option[File] = None)(implicit apiKey: ApiKeyValue): ApiRequest[FolioRecord] =
    ApiRequest[FolioRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claims/{claim-number}/add-folio", "multipart/form-data")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withFormParam("upFile", upFile)
      .withPathParam("claim-number", claimNumber)
      .withSuccessResponse[FolioRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object AddFolioHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *  ### Overview  Returns array of folios.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * User is authorised  ____ ### Post-conditions * Array of folios is returned  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples        Not applicable to array fo search results  ____        
   * 
   * Expected answers:
   *   code 201 : FolioSearchResults (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimNumber The claim that we are usings as the basis for out folio search
   */
  def claimFolios(claimNumber: String)(implicit apiKey: ApiKeyValue): ApiRequest[FolioSearchResults] =
    ApiRequest[FolioSearchResults](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claims/{claim-number}/folios", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("claim-number", claimNumber)
      .withSuccessResponse[FolioSearchResults](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object ClaimFoliosHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Links existing folio - essentially a folder with extended metadata - to the claim / estate.   **** May  be done by an **insolvency officer** or the system actor as an automated action.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * User is authorised to administer the claim * Claim resource is current / selected   ____ ### Post-conditions * Folio is linked to claim * Audit record is created against claim * Audit record is created against folio  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Unvetted claim** | A claim that is not yet part of the estate| | **2** | **200: Rejected or withdrawn claim** | Previously rejected or withdrawn claim| | **3** | **200: Errored claim** | Previously errored claim| | **4** | **200: Admitted claim** | Active claim | | **5** | **200: Vetted claim** |  Active claim | | **6** | **200: Suspended claim** | Active claim | | **7** | **200: Received claim** | Active claim  |   &lt;br /&gt; ****  **Case 1* - 200: Unvetted claim       {      \&quot;links\&quot;: [            ## ----------------- Navigation links -----------------            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims,\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      }      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/add-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.addfolio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            ## ----------------- Other -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs/2481b952-e12e-11e7-80c1-9a214cf093ae\&quot;,        \&quot;rel\&quot;: \&quot;claim.view-audit-log-detail,\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      }            ]        &lt;br /&gt;     **Case 2** - 200: Rejected or withdrawn claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },             {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            &lt;br /&gt;     **Case 3** - 200: Errored claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }          &lt;br /&gt;     **Case 4** - 200: Admitted Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/vet\&quot;,        \&quot;rel\&quot;: \&quot;claim.vet\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claim.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claim.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }          &lt;br /&gt;     **Case 5** - 200: Vetted Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/admit\&quot;,        \&quot;rel\&quot;: \&quot;claim.admit\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claim.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claim.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }          &lt;br /&gt;     **Case 6** - 200: Suspended Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claim.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/potential\&quot;,        \&quot;rel\&quot;: \&quot;claim.potential\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            &lt;br /&gt;     **Case 7** - 200: Received Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/vet\&quot;,        \&quot;rel\&quot;: \&quot;claim.vet\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claim.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/4855682/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },                {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }      ]       
   * 
   * Expected answers:
   *   code 201 : FolioRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimNumber The claim that the folio will be associated with
   * @param folio The folio record
   */
  def linkFolio(claimNumber: String, folio: FolioRecord)(implicit apiKey: ApiKeyValue): ApiRequest[FolioRecord] =
    ApiRequest[FolioRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claims/{claim-number}/link-folio", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(folio)
      .withPathParam("claim-number", claimNumber)
      .withSuccessResponse[FolioRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object LinkFolioHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }
  /**
   *   ### Overview  Links existing folio - essentially a folder with extended metadata - to the claim / estate.   **** May  be done by an **insolvency officer** or the system actor as an automated action.  ****   **UC Mapping:**   ____ ### Pre-conditions * User is authenticated * User is authorised to administer the claim * Claim resource is current / selected   ____ ### Post-conditions * Folio is linked to claim * Audit record is created against claim * Audit record is created against folio  ____ ### Error messages | Code| Message | Description| |----|-----|------| | **400** | Bad request  | Bad request | | **401** | Not authenticated  | User must be logged in to perform this action | | **403** | Not authorised  | User not authorised to perform this action | | **404** | Not found  | Claim not found |  ### HATEOAS \&quot;links\&quot; element examples | Case \\# | Case | Description / Rules | |----|-----|------| | **1** | **200: Unvetted claim** | A claim that is not yet part of the estate| | **2** | **200: Rejected or withdrawn claim** | Previously rejected or withdrawn claim| | **3** | **200: Errored claim** | Previously errored claim| | **4** | **200: Admitted claim** | Active claim | | **5** | **200: Vetted claim** |  Active claim | | **6** | **200: Suspended claim** | Active claim | | **7** | **200: Received claim** | Active claim  |   &lt;br /&gt; ****  **Case 1* - 200: Unvetted claim       {      \&quot;links\&quot;: [            ## ----------------- Navigation links -----------------            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims,\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      }      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/unlink-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.unlink-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/add-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.addfolio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            ## ----------------- Other -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs/2481b952-e12e-11e7-80c1-9a214cf093ae\&quot;,        \&quot;rel\&quot;: \&quot;claim.view-audit-log-detail,\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      }            ]        &lt;br /&gt;     **Case 2** - 200: Rejected or withdrawn claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },             {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            &lt;br /&gt;     **Case 3** - 200: Errored claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }          &lt;br /&gt;     **Case 4** - 200: Admitted Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/vet\&quot;,        \&quot;rel\&quot;: \&quot;claim.vet\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claim.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claim.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/unlink-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.unlink-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }          &lt;br /&gt;     **Case 5** - 200: Vetted Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/admit\&quot;,        \&quot;rel\&quot;: \&quot;claim.admit\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claim.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claim.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/unlink-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.unlink-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }          &lt;br /&gt;     **Case 6** - 200: Suspended Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/receive\&quot;,        \&quot;rel\&quot;: \&quot;claim.receive\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/potential\&quot;,        \&quot;rel\&quot;: \&quot;claim.potential\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },           {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/523623/unlink-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.unlink-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }            &lt;br /&gt;     **Case 7** - 200: Received Claim       \&quot;links\&quot;: [        ## ----------------- Navigation links -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462\&quot;,        \&quot;rel\&quot;: \&quot;self\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims\&quot;,        \&quot;rel\&quot;: \&quot;claim.search\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/auditlogs\&quot;,        \&quot;rel\&quot;: \&quot;claim.auditlogs\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets\&quot;,        \&quot;rel\&quot;: \&quot;claim.assets\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/folios\&quot;,        \&quot;rel\&quot;: \&quot;claim.folios\&quot;,        \&quot;method\&quot;: \&quot;GET\&quot;      },            ## ----------------- Modify self / status changes -----------------      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/824462/maintain\&quot;,        \&quot;rel\&quot;: \&quot;claim.maintain\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/vet\&quot;,        \&quot;rel\&quot;: \&quot;claim.vet\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/suspend\&quot;,        \&quot;rel\&quot;: \&quot;claim.suspend\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/error\&quot;,        \&quot;rel\&quot;: \&quot;claim.error\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },            {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/4855682/reject\&quot;,        \&quot;rel\&quot;: \&quot;claim.reject\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },      {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/assets/4855682/link\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-assets\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      },                {        \&quot;href\&quot;: \&quot;https://app.insolvency.govt.nz/v1/oasis4/estates/883785/claims/4855682/link-folio\&quot;,        \&quot;rel\&quot;: \&quot;claim.link-folio\&quot;,        \&quot;method\&quot;: \&quot;POST\&quot;      }      ]       
   * 
   * Expected answers:
   *   code 201 : FolioRecord (The modified Claim Registration record.)
   *              Headers :
   *                api-business-govt-nz-Request-Id - MBIE Request id header
   *                api-business-govt-nz-Correlation-Id - MBIE Correlation id header
   *                date - Response parameter. Date/time the response was generated (in Greenwich mean time).
   *                service-version - The minor version of the API.
   *   code 400 : ErrorDescription (The enquiry parameters are invalid.)
   *   code 401 : ErrorDescription (The requester is not authenticated.)
   *   code 403 : ErrorDescription (The requester is not authorised for this operation.)
   *   code 404 : ErrorDescription (Resource not found.)
   *   code 500 : ErrorDescription (An unexpected internal server error occurred.)
   * 
   * Available security schemes:
   *   jwt (apiKey)
   * 
   * @param claimNumber The claim that the folio will be associated with
   * @param folio The folio record
   */
  def unlinkFolio(claimNumber: String, folio: FolioRecord)(implicit apiKey: ApiKeyValue): ApiRequest[FolioRecord] =
    ApiRequest[FolioRecord](ApiMethods.POST, "https://virtserver.swaggerhub.com/apis/OASIS4-development/oasis4/1.4.13", "/claims/{claim-number}/unlink-folio", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withBody(folio)
      .withPathParam("claim-number", claimNumber)
      .withSuccessResponse[FolioRecord](201)
      .withErrorResponse[ErrorDescription](400)
      .withErrorResponse[ErrorDescription](401)
      .withErrorResponse[ErrorDescription](403)
      .withErrorResponse[ErrorDescription](404)
      .withErrorResponse[ErrorDescription](500)
      
  object UnlinkFolioHeaders { 
    def apiBusinessGovtNzRequestId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Request-Id")
    def apiBusinessGovtNzCorrelationId(r: ApiReturnWithHeaders) = r.getStringHeader("api-business-govt-nz-Correlation-Id")
    def date(r: ApiReturnWithHeaders) = r.getDateTimeHeader("date")
    def serviceVersion(r: ApiReturnWithHeaders) = r.getStringHeader("service-version")
  }


}

